.subtitulo{
    margin:15px;
}
.titulointerno{
font-size: 24px;
padding:   0 0 0 20px;
margin:0;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.image, .image2,.image4{
    float:right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: auto;
}
.image1,.image3{
    float:left;
    margin: 0 25px 50px 0;
    max-width: 25%;
    height: auto;
}
p{
    font: size 18px;
}

